
.page {
    -fx-background-color: #F5F1FEFF;
    -fx-pref-width: 1020px;
    -fx-pref-height: 750px;
}

.VBox {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);

}

.image {
    -fx-border-radius: 0 2 0 2;
}

.signup {
    -fx-font-weight: bold;
    -fx-text-fill: #6D31EDFF;

}

.signup:hover {
    -fx-cursor: hand;
}

.title2 {
    -fx-translate-x: 35px;
    -fx-font-family: "Lexend";
    -fx-font-size: 12px;
    -fx-font-weight: 800;
    -fx-text-fill: #171A1FFF;
}

.terms {
    -fx-font-family: "Lexend";
    -fx-font-size: 9px;
    -fx-font-weight: 400;
    -fx-text-fill: #6D31EDFF;
}

.title {
    -fx-font-family: "Lexend";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #6D31EDFF;
}

.title1 {
    -fx-translate-y: 18px;
    -fx-translate-x: 35px;
    -fx-font-family: "Lexend";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #171A1FFF;
}


.button {
    -fx-pref-height: 30px;
    -fx-padding: 0 10px;
    -fx-font-family: "Manrope";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #6D31EDFF;
    -fx-border-width: 0;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #5113D7FF;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #3F0EA6FF;
}

.button:disabled {
    -fx-opacity: 0.4;
}

.textfield {
    -fx-background-color: #F5F1FEFF; /* Light grey background */
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
    -fx-font-family: "Manrope";
    -fx-font-size: 9px;
    -fx-font-weight: 400;
    -fx-text-fill: #6B6B6B; /* Slightly less dark text */
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}



.textfield .prompt-text {
    -fx-text-fill: #A3A3A3; /* Light grey placeholder */
    -fx-font-size: 9px;
    -fx-font-weight: 400;
}

.textfield:focused .prompt-text {
    -fx-text-fill: transparent; /* Placeholder text disappears when input field is focused */
}

.textfield:hover {
    -fx-background-color: #EDEDED; /* Slightly lighter on hover */
}

.textfield:disabled {
    -fx-background-color: #D3D3D3; /* Grey for disabled fields */
    -fx-opacity: 0.6;
}





