

.VBox {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
    -fx-padding: 20px;
    -fx-alignment: center_left;
    -fx-spacing: 20px;
}

.title {
    -fx-font-family: "Lexend";
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-line-spacing: 48px;
    -fx-text-fill: #6D31EDFF;
}

.title_container {
    -fx-background-color: #F5F1FEFF ;
    -fx-effect: dropshadow(gaussian, #171a1f, 2, 0, 0, 0);
    -fx-padding: 15;
    -fx-border-radius: 8px;
    -fx-background-radius: 0 0 8 8 ;
}

.button {
    -fx-pref-height: 30px;
    -fx-padding: 0 10px;
    -fx-font-family: "Manrope";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #6D31EDFF;
    -fx-border-width: 0;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #5113D7FF;
    -fx-cursor: hand;

}

.button:pressed {
    -fx-background-color: #3F0EA6FF;
}

.button:disabled {
    -fx-opacity: 0.4;
}

.textfield {
    -fx-background-color: #F3F3F3; /* Light grey background */
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
    -fx-font-family: "Manrope";
    -fx-font-size: 9px;
    -fx-font-weight: 400;
    -fx-text-fill: #6B6B6B; /* Slightly less dark text */
    -fx-padding: 5px;
    -fx-pref-height: 30px;
}



.textfield .prompt-text {
    -fx-text-fill: #A3A3A3; /* Light grey placeholder */
    -fx-font-size: 9px;
    -fx-font-weight: 400;
}

.textfield:focused .prompt-text {
    -fx-text-fill: transparent; /* Placeholder text disappears when input field is focused */
}

.textfield:hover {
    -fx-background-color: #EDEDED; /* Slightly lighter on hover */
}

.textfield:disabled {
    -fx-background-color: #D3D3D3; /* Grey for disabled fields */
    -fx-opacity: 0.6;
}

.title1 {

    -fx-font-family: "Lexend";
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-line-spacing: 48px;
}