.title_container {
    -fx-background-color: #FFFFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
    -fx-padding: 15;
    -fx-border-radius: 8px;
    -fx-background-radius: 0 0 8 8 ;
}
.title {
    -fx-font-family: "Lexend";
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-line-spacing: 48px;
    -fx-text-fill: #6D31EDFF;
}

.title1 {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: lexend;
}

.list-view {
    -fx-background-color: #f8f8f8;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.menu-button {
    -fx-opacity: 1;
    -fx-background-color: #F5F1FEFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
    -fx-padding: 2;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
}

.menu-button .label {
    -fx-font-family: "Manrope";
    -fx-font-size: 12px;
    -fx-font-weight: 400;
}

.menu-button:hover {
    -fx-background-color: #F5F1FEFF;
    -fx-cursor: hand;
}

.menu-button:focused {
    -fx-background-color: #F5F1FEFF;
    -fx-cursor: hand;
}

.menu-button:disabled {
    -fx-background-color: #F5F1FEFF;
    -fx-opacity: 0.6;
}

.menu-button .arrow {
    -fx-background-color: #5113D7FF;
}

.menu-button:disabled .arrow {
    -fx-background-color: #BDC1CAFF;
}


.button {
    -fx-pref-height: 30px;
    -fx-padding: 0 10px;
    -fx-font-family: "Manrope";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #6D31EDFF;
    -fx-border-width: 0;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}

.button FontAwesomeIconView {
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #5113D7FF;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #3F0EA6FF;
}

.button:disabled {
    -fx-opacity: 0.4;
}